<tr>
  <th scope="row"><%= bookmanage.stt %></th>
  <td><%= bookmanage.maHS %></td>
  <td><%= bookmanage.lop %></td>
  <td><%= bookmanage.maSach %></td>
  <td><%= bookmanage.tenSach %></td>
  <td><%= bookmanage.tenTacGia %></td>
  <td><%= bookmanage.ngayMuon %></td>
  <td><%= bookmanage.ngayTra %></td>
  <td><%= bookmanage.soNgay %></td>
  <td><%= bookmanage.ghiChu %></td>
  <td><p><%= link_to "Chi tiết 146", bookmanage %></p></td>
  <td><p><%= link_to "Sửa 146", edit_bookmanage_path(bookmanage) %></p></td>
</tr>

   